$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;

$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;

//phone sizes
$headpc:x-large;
$textpc:large;

$headtab:larger;
$texttab:large;

$headphone:large;
$textphone:small;

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;
    overflow-x: hidden;
    
    .space{
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000af;
        padding-top: 12vh;
        .placedesc{
            color: white;
            width: fit-content;
            font-size: 40px;
            font-family: "black jack";
            text-transform:capitalize;
        }
        .viewicons{
            
            height: fit-content;
            width: 20vw;
            display: flex;
            justify-content: space-around;
            
            img{
                width: 50px;
                height: 50px;
            }
        } 
    }
    
    .pagecontent{
        background-color: white;

        .bookdesc{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 70%;
            }
        }
    }
}