$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;

$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;

//phone sizes
$headpc:x-large;
$textpc:large;

$headtab:larger;
$texttab:large;

$headphone:large;
$textphone:small;

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/booking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;
    overflow-x: hidden;
    
    
    
    .pagecontent{
        background-color: white;
        .bookdesc{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 70%;
            }
            h3{

            }
            .bookingsection{
                width: 70%;
                display: flex;
                align-items: center;
                img{
                    width: 50%;
                }
                .imgdesc{
                   
                    height: fit-content;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{
                        text-align: justify;
                        width: 80%;
                    }
                    
                    a{
                        text-decoration: none;
                        font-size: 30px;
                        color: white;
                        background-color: $colormaroon;
                        
                        padding: 5px 10px 5px 10px;
                        border-radius: 0px;
                        margin: 10px 10px;
                        cursor: pointer;
                    }
                }
            } 
        }
    }
}

@media(max-width:560px){
    body{
        
        .pagecontent{
            background-color: white;
            .bookdesc{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    width: 90%;
                }
                h3{

                }
                .bookingsection{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 100%;
                    }
                    .imgdesc{
                       
                        height: fit-content;
                        width: fit-content;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p{
                            text-align: justify;
                            width: 90%;
                        }
                        a{
                            text-decoration: none;
                            font-size: 30px;
                            color: white;
                            background-color: $colormaroon;
                            
                            padding: 5px 10px 5px 10px;
                            border-radius: 0px;
                            margin: 10px 10px;
                            cursor: pointer;
                        }
                    }
                } 
            }
        }
    }
}