$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;

$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;

//phone sizes
$headpc:x-large;
$textpc:large;

$headtab:larger;
$texttab:large;

$headphone:large;
$textphone:small;

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/gallery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;
    overflow-x: hidden;

    .pagecontent{
        background-color: #000000cd;
        padding-top: 12vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .space{
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000af;
            padding-top: 12vh;
            
            .placedesc{
                color: white;
                width: fit-content;
                font-size: 40px;
                font-family: "black jack";
                text-transform:capitalize;
            }
            .viewicons{
                
                height: fit-content;
                width: 30vw;
                display: flex;
                justify-content: space-around;
                
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            @media(max-width:700px){
                height: 50vh;
                .placedesc{
                    font-size: 30px;
                }
                .viewicons{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            @media(max-width:560px){
                height: 30vh;
                width: auto;
                .placedesc{
                    font-size: 20px;
                }
                .viewicons{
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }   
        }
        .pictures{
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h4{
                color: $colormaroon;
            }
            
            .gallery{
                width: 80%;
                margin: 20px 0px 20px 0px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                row-gap: 20px;
                .general{
                    width: 30%;
                    cursor: pointer;
                    img{
                        width: 100%;
                        border-radius: 10px;
                        box-shadow:0 0 5px 1px black;
                        
                    }
                    .closebtn{
                        display: none;
                    }
                }
            }
            .gallery2{
                width: 80%;
                margin: 20px 0px 20px 0px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                row-gap: 20px;
                .general{
                    width: 30%;
                    cursor: pointer;
                    img{
                        width: 100%;
                        border-radius: 10px;
                        box-shadow:0 0 5px 1px black;
                    }
                    .closebtn{
                        display: none;
                    }
                }
            }
        }
    }
}
@media(max-width:900px){

}
@media(max-width:720px){
    
}
@media(max-width:560px){
    body{
        
    
        .pagecontent{
            
            
            .spacer{
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    width: fit-content;
                    color: white;
                    font-family: 'black jack';
                    font-size: 30px;
                    text-align: center;  
                    margin: 0px;
                }  
                img{
                    width: 40px;
                } 
            }
            .pictures{
                width: 100%;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                h4{
                    color: $colormaroon;
                }
                
                .gallery{
                    width: 100%;
                    margin: 20px 0px 20px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    row-gap: 10px;
                    .general{
                        width: 45%;
                        cursor: pointer;
                        img{
                            width: 100%;
                            border-radius: 10px;
                            box-shadow:0 0 5px 1px black;
                            
                        }
                        .closebtn{
                            display: none;
                        }
                    }
                }
                .gallery2{
                    width: 100%;
                    margin: 20px 0px 20px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    row-gap: 20px;
                    .general{
                        width: 45%;
                        cursor: pointer;
                        img{
                            width: 100%;
                            border-radius: 10px;
                            box-shadow:0 0 5px 1px black;
                        }
                        .closebtn{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}