body {
  margin: 0px;
  padding: 0px;
  background-image: url("../media/gallery.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins";
  overflow-x: hidden;
}
body .space {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6862745098);
  padding-top: 12vh;
}
body .space .placedesc {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  font-family: "black jack";
  text-transform: capitalize;
}
body .space .viewicons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20vw;
  display: flex;
  justify-content: space-around;
}
body .space .viewicons img {
  width: 50px;
  height: 50px;
}
body .pagecontent {
  background-color: rgba(0, 0, 0, 0.8039215686);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .pagecontent .pictures {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .pagecontent .pictures h4 {
  color: #490206;
}
body .pagecontent .pictures .gallery {
  width: 80%;
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
body .pagecontent .pictures .gallery .general {
  width: 30%;
  cursor: pointer;
}
body .pagecontent .pictures .gallery .general img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px black;
}
body .pagecontent .pictures .gallery .general .closebtn {
  display: none;
}
body .pagecontent .pictures .gallery2 {
  width: 80%;
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
body .pagecontent .pictures .gallery2 .general {
  width: 30%;
  cursor: pointer;
}
body .pagecontent .pictures .gallery2 .general img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px black;
}
body .pagecontent .pictures .gallery2 .general .closebtn {
  display: none;
}

@media (max-width: 560px) {
  body .space {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6862745098);
    padding-top: 12vh;
  }
  body .space .placedesc {
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 40px;
    font-family: "black jack";
    text-transform: capitalize;
  }
  body .space .viewicons {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 20vw;
    display: flex;
    justify-content: space-around;
  }
  body .space .viewicons img {
    width: 30px;
    height: 30px;
  }
  body .pagecontent .pictures {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .pagecontent .pictures h4 {
    color: #490206;
  }
  body .pagecontent .pictures .gallery {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
  }
  body .pagecontent .pictures .gallery .general {
    width: 45%;
    cursor: pointer;
  }
  body .pagecontent .pictures .gallery .general img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
  }
  body .pagecontent .pictures .gallery .general .closebtn {
    display: none;
  }
  body .pagecontent .pictures .gallery2 {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
  body .pagecontent .pictures .gallery2 .general {
    width: 45%;
    cursor: pointer;
  }
  body .pagecontent .pictures .gallery2 .general img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
  }
  body .pagecontent .pictures .gallery2 .general .closebtn {
    display: none;
  }
}/*# sourceMappingURL=Gallery.css.map */