$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;
$headingsize:30px;
$parasize:20px;
$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;
body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;
    
    .topmenu{
        display: flex;  
        justify-content: space-between;
        background-color: #fbfaf9;
        padding: 20px;
        .menulogo{
            width: 15vw;
        }
        .menuitem{
            
            height: fit-content;
            align-self: center;
            a{
                text-decoration: none;
                color: black;
                font-family:$generalstyle;
                font-weight: 500;
                margin-right: 20px;
            }
        }
        .socialicons{
            height: fit-content;
            align-self: center;
            a{
                img{
                    width: 50px;
                }
            }
        }
    }
    .space{
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: center;
        background-color: #000000af;
        
        .placedesc{
            color: white;
            width: fit-content;
            font-size: 40px;
            font-family: "black jack";
            text-transform:capitalize;
        }
        .viewicons{
            
            height: fit-content;
            width: 30vw;
            display: flex;
            justify-content: space-around;
            
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
    .middlepart{
        background-color: $colorbackground;
        .about{
            background-color: $colorbackground;
            display: flex;
            flex-direction: column;
            padding:40px 40px 40px 40px ;
            
            .abouthead{
                font-family: $generalstyle;
                font-weight: $headingweight;
                margin-bottom: 20px;
                width: fit-content;
                align-self: center;
            }
            .aboutdescription{
                font-family: $generalstyle;
                width: 80vw;
                align-self: center;
                text-align: justify;
                padding-bottom: 40px;
            }
            .randimages{
                display: flex;
                justify-content: space-around;
                width: 80vw;
                align-self: center;
                img{
                    width: 47%;
                    border-radius: 5px;
                }
            }
        }
        
        .services{
            background-color: #FFF6EC;
            justify-content: space-around;
            padding: 0 10vw 0vw 10vw;
            padding-top: 5px;
            
            .servicehead{
                font-family: $generalstyle;
                font-weight: $headingweight;
                text-align: center;
            }
            .servicegroup{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                column-gap: 50px;
                
                .servicetab{
                    padding-bottom: 20px;
                    text-align: center;
                    width: 25%;
                    .servImg{
                        width: 100%;
                        border-radius: 100%;
                    }
                    .servicedesc{
                        text-align: justify;
                        margin-top: 0;
                    }
                    .minihead{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       
                        .iconmini{
                            width: 20px;
                            height: 20px;
                        }
                        .headserve{
                            font-weight: 500;
                            margin: 15px 0px 15px 10px;
                        }
                    }
                }
            }  
        }
        .locdetails{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .lochead{
                font-family: $generalstyle;
                font-weight: $headingweight;
                text-align: center;
            }
            .mapdetails{
                width: 80vw;
                display: flex;
                justify-content: space-around;
                margin-bottom: 50px;
                column-gap: 20px;
                .mapouter{
                    width: 50%;
                    margin: 0% 0% 0% 0%;
                    
                }
                .mapdesc{
                    width: 50%;
                    
                    
                    h3{
                        font-family: $generalstyle;
                        font-size: medium;
                        font-weight: $headingweight;
                        
                        color: $colormaroon;
                    }
                    .contactform{
                        display: flex;
                        flex-direction: column;
                        .formcomponent{
                            border-radius: 0px;
                            border: rgb(153, 153, 153) solid 1px;
                            height: 40px;
                            width: 96%;
                            margin-bottom:30px ;
                            padding-left: 10px;
                            padding-right: 10px;
                            
                            &::placeholder{
                                font-family: $generalstyle;
                            }
                        }
                        #formcomponent{
                            border-radius: 0px;
                            border: rgb(153, 153, 153) solid 1px;
                            width: 96%;
                            margin-bottom:30px ;
                            padding-left: 10px;
                            padding-right: 10px;
                            
                            &::placeholder{
                                font-family: $generalstyle;
                            }
                        }
                        .submitbutton{
                            align-self: center;
                            border-radius: 0px;
                            border: rgb(153, 153, 153) solid 0px;
                            background-color: $colormaroon;
                            width: 35%;
                            height: 30px;
                            color: white;
                        }
                    }
                }
            }  
        }
    }  
    .footerpart{
        background-color: #000000d3;
        display: flex;
        justify-content: space-between;
        padding:0px 20px 0px 20px;
        color: white;
        align-items: center;
        .bottomlinks{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}