body {
  margin: 0px;
  padding: 0px;
  background-image: url("../media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins";
}
body .topmenu {
  display: flex;
  justify-content: space-between;
  background-color: #fbfaf9;
  padding: 20px;
}
body .topmenu .menulogo {
  width: 15vw;
}
body .topmenu .menuitem {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
body .topmenu .menuitem a {
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  font-weight: 500;
  margin-right: 20px;
}
body .topmenu .socialicons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
body .topmenu .socialicons a img {
  width: 50px;
}
body .space {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6862745098);
}
body .space .placedesc {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  font-family: "black jack";
  text-transform: capitalize;
}
body .space .viewicons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
body .space .viewicons img {
  width: 50px;
  height: 50px;
}
body .middlepart {
  background-color: #FBFAF9;
}
body .middlepart .about {
  background-color: #FBFAF9;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
}
body .middlepart .about .abouthead {
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
body .middlepart .about .aboutdescription {
  font-family: "Poppins";
  width: 80vw;
  align-self: center;
  text-align: justify;
  padding-bottom: 40px;
}
body .middlepart .about .randimages {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  align-self: center;
}
body .middlepart .about .randimages img {
  width: 47%;
  border-radius: 5px;
}
body .middlepart .services {
  background-color: #FFF6EC;
  justify-content: space-around;
  padding: 0 10vw 0vw 10vw;
  padding-top: 5px;
}
body .middlepart .services .servicehead {
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
}
body .middlepart .services .servicegroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
body .middlepart .services .servicegroup .servicetab {
  padding-bottom: 20px;
  text-align: center;
  width: 25%;
}
body .middlepart .services .servicegroup .servicetab .servImg {
  width: 100%;
  border-radius: 100%;
}
body .middlepart .services .servicegroup .servicetab .servicedesc {
  text-align: justify;
  margin-top: 0;
}
body .middlepart .services .servicegroup .servicetab .minihead {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .middlepart .services .servicegroup .servicetab .minihead .iconmini {
  width: 20px;
  height: 20px;
}
body .middlepart .services .servicegroup .servicetab .minihead .headserve {
  font-weight: 500;
  margin: 15px 0px 15px 10px;
}
body .middlepart .locdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .middlepart .locdetails .lochead {
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
}
body .middlepart .locdetails .mapdetails {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .middlepart .locdetails .mapdetails .mapouter {
  width: 50%;
  margin: 0% 0% 0% 0%;
}
body .middlepart .locdetails .mapdetails .mapdesc {
  width: 50%;
}
body .middlepart .locdetails .mapdetails .mapdesc h3 {
  font-family: "Poppins";
  font-size: medium;
  font-weight: 500;
  color: #490206;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform {
  display: flex;
  flex-direction: column;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent {
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 1px;
  height: 40px;
  width: 96%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::-moz-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent:-ms-input-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent {
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 1px;
  width: 96%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::-moz-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent:-ms-input-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .submitbutton {
  align-self: center;
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 0px;
  background-color: #490206;
  width: 35%;
  height: 30px;
  color: white;
}
body .footerpart {
  background-color: rgba(0, 0, 0, 0.8274509804);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  color: white;
  align-items: center;
}
body .footerpart .bottomlinks a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=HBF.css.map */