$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;

$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;
$headcolor:#CF853C;

//phone sizes
$headpc:x-large;
$textpc:large;

$headtab:larger;
$texttab:large;

$headphone:large;
$textphone:small;

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;

    .space{
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000af;
        padding-top: 12vh;
        
        .placedesc{
            color: white;
            width: fit-content;
            font-size: 40px;
            font-family: "black jack";
            text-transform:capitalize;
        }
        .viewicons{
            
            height: fit-content;
            width: 30vw;
            display: flex;
            justify-content: space-around;
            
            img{
                width: 50px;
                height: 50px;
            }
        }
        
    }
    
    
    //about part
    .middlepart{
        background-color: $colorbackground;
        .seemore{
            margin-top: 20px;
            margin-bottom: 20px;
            text-decoration: none;
        }
        .about{
            background-color: $colorbackground;
            display: flex;
            flex-direction: column;
            //padding:0vw 10vw 3vw 10vw ;
            align-items: center;
            .abouthead{
                font-weight: $headingweight;
                font-size:$headpc;
                width: fit-content;
                margin-bottom: 0px;
                color: $colormaroon;
            }
            .aboutdescription{
                text-align: justify;
                font-size:$textpc;
                width: 60%;
            }
            .randimages{
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
                .galimg{
                    width: 25%;
                    border-radius: 10px;
                    box-shadow:0 0 5px 1px black;
                }
                div.galimg{
                    background-color: $headcolor;
                }
            }
        }
        .services{
            background-color: #FFF6EC;
            justify-content: space-around;
            padding: 1vw 10vw 0vw 10vw;
            
            .servicehead{
                font-weight: $headingweight;
                text-align: center;
                font-size: $headpc;
            }
            .servicegroup{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
                .servicetab{
                    padding-bottom: 20px;
                    text-align: center;
                    width: 29%;
                    .servImg{
                        width: 100%;
                        border-radius: 100%;
                    }
                    .servicedesc{
                        text-align: justify;
                        margin-top: 0;
                        font-size: $textpc;
                    }
                    .minihead{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       
                        .iconmini{
                            width: 20px;
                            height: 20px;
                        }
                        .headserve{
                            font-weight: 500;
                            margin: 15px 0px 15px 10px;
                        }
                    }
                }
            } 
        }
        .locdetails{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .lochead{
                
                font-weight: $headingweight;
                text-align: center;
            }
            .mapdetails{
                width: 80vw;
                display: flex;
                justify-content: space-around;
                margin-bottom: 50px;
                column-gap: 20px;
                .mapouter{
                    width: 50%;
                    margin: 0% 0% 0% 0%;
                }
                .mapdesc{
                    width: 50%;
                    h3{
                        font-family: $generalstyle;
                        font-size: medium;
                        font-weight: $headingweight;
                        color: $colormaroon;
                    }
                    .contactform{
                        display: flex;
                        flex-direction: column;
                        .formcomponent{
                            border-radius: 0px;
                            border: rgb(153, 153, 153) solid 1px;
                            height: 40px;
                            width: 96%;
                            margin-bottom:30px ;
                            padding-left: 10px;
                            padding-right: 10px;
                            
                            &::placeholder{
                                font-family: $generalstyle;
                            }
                        }
                        #formcomponent{
                            border-radius: 0px;
                            border: rgb(153, 153, 153) solid 1px;
                            width: 96%;
                            margin-bottom:30px ;
                            padding-left: 10px;
                            padding-right: 10px;
                            
                            &::placeholder{
                                font-family: $generalstyle;
                            }
                        }
                        .submitbutton{
                            align-self: center;
                            border-radius: 0px;
                            border: rgb(153, 153, 153) solid 0px;
                            background-color: $colormaroon;
                            width: 35%;
                            height: 30px;
                            color: white;
                        }
                    }
                } 
            }  
        }
    }
}


@media(max-width:560px){
    body{
        margin: 0px;
        padding: 0px;
        background-image: url('../media/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: $generalstyle;
    
        .space{
            height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000af;
            padding-top: 12vh;
            
            .placedesc{
                color: white;
                width: fit-content;
                font-size: 30px;
                font-family: "black jack";
                text-transform:capitalize;
            }
            .viewicons{
                
                height: fit-content;
                width: 30vw;
                display: flex;
                justify-content: space-around;
                
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            
        }
        
        
        //about part
        .middlepart{
            background-color: $colorbackground;
            .seemore{
                margin-top: 20px;
                margin-bottom: 20px;
                text-decoration: none;
            }
            .about{
                background-color: $colorbackground;
                display: flex;
                flex-direction: column;
                //padding:0vw 10vw 3vw 10vw ;
                align-items: center;
                .abouthead{
                    font-weight: $headingweight;
                    font-size:$headpc;
                    width: fit-content;
                    margin-bottom: 0px;
                    color: $colormaroon;
                }
                .aboutdescription{
                    text-align: justify;
                    font-size:$textpc;
                    width: 90%;
                }
                .randimages{
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    justify-content: center;
                    .galimg{
                        width: 25%;
                        border-radius: 10px;
                        box-shadow:0 0 5px 1px black;
                    }
                    div.galimg{
                        background-color: $headcolor;
                    }
                }
            }
            .services{
                background-color: #FFF6EC;
                justify-content: space-around;
                padding: 1vw 10vw 0vw 10vw;
                
                .servicehead{
                    font-weight: $headingweight;
                    text-align: center;
                    font-size: $headpc;
                }
                .servicegroup{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .servicetab{
                        padding-bottom: 20px;
                        text-align: center;
                        width: 100%;
                        .servImg{
                            width: 100%;
                            border-radius: 100%;
                        }
                        .servicedesc{
                            text-align: justify;
                            margin-top: 0;
                            font-size: $textpc;
                        }
                        .minihead{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                           
                            .iconmini{
                                width: 20px;
                                height: 20px;
                            }
                            .headserve{
                                font-weight: 500;
                                margin: 15px 0px 15px 10px;
                            }
                        }
                    }
                }
            }
            .locdetails{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                .lochead{
                    
                    font-weight: $headingweight;
                    text-align: center;
                }
                .mapdetails{
                    width: 80vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-bottom: 50px;
                    column-gap: 20px;
                    .mapouter{
                        width: 100%;
                        margin: 0% 0% 0% 0%;
                    }
                    .mapdesc{
                        width: 100%;
                        h3{
                            font-family: $generalstyle;
                            font-size: medium;
                            font-weight: $headingweight;
                            color: $colormaroon;
                        }
                        .contactform{
                            display: flex;
                            flex-direction: column;
                            .formcomponent{
                                border-radius: 0px;
                                border: rgb(153, 153, 153) solid 1px;
                                height: 40px;
                                width: 96%;
                                margin-bottom:30px ;
                                padding-left: 10px;
                                padding-right: 10px;
                                
                                &::placeholder{
                                    font-family: $generalstyle;
                                }
                            }
                            #formcomponent{
                                border-radius: 0px;
                                border: rgb(153, 153, 153) solid 1px;
                                width: 96%;
                                margin-bottom:30px ;
                                padding-left: 10px;
                                padding-right: 10px;
                                
                                &::placeholder{
                                    font-family: $generalstyle;
                                }
                            }
                            .submitbutton{
                                align-self: center;
                                border-radius: 0px;
                                border: rgb(153, 153, 153) solid 0px;
                                background-color: $colormaroon;
                                width: 35%;
                                height: 30px;
                                color: white;
                            }
                        }
                    } 
                }  
            }
        }
    }
}
  