body {
  margin: 0px;
  padding: 0px;
  background-image: url("../media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins";
}
body .space {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6862745098);
  padding-top: 12vh;
}
body .space .placedesc {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  font-family: "black jack";
  text-transform: capitalize;
}
body .space .viewicons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
body .space .viewicons img {
  width: 50px;
  height: 50px;
}
@media (max-width: 700px) {
  body .space {
    height: 50vh;
  }
  body .space .placedesc {
    font-size: 30px;
  }
  body .space .viewicons img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 560px) {
  body .space {
    height: 30vh;
  }
  body .space .placedesc {
    font-size: 20px;
  }
  body .space .viewicons img {
    width: 20px;
    height: 20px;
  }
}
body .middlepart {
  background-color: #FBFAF9;
}
body .middlepart .seemore {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
body .middlepart .about {
  background-color: #FBFAF9;
  display: flex;
  flex-direction: column;
  padding: 0vw 10vw 3vw 10vw;
  align-items: center;
}
body .middlepart .about .abouthead {
  font-weight: 500;
  font-size: x-large;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0px;
}
body .middlepart .about .aboutdescription {
  text-align: justify;
  font-size: large;
}
body .middlepart .about .randimages {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-around;
}
body .middlepart .about .randimages img {
  width: 32%;
  border-radius: 5px;
}
@media (max-width: 700px) {
  body .middlepart .about {
    padding: 0vw 5vw 3vw 5vw;
  }
  body .middlepart .about .abouthead {
    font-weight: 500;
    font-size: larger;
  }
  body .middlepart .about .aboutdescription {
    text-align: justify;
    font-size: large;
  }
  body .middlepart .about .randimages img {
    width: 32%;
  }
}
@media (max-width: 560px) {
  body .middlepart .about {
    padding: 0vw 7vw 1vw 7vw;
  }
  body .middlepart .about .abouthead {
    font-weight: 500;
    font-size: large;
  }
  body .middlepart .about .aboutdescription {
    text-align: justify;
    font-size: small;
  }
  body .middlepart .about .randimages img {
    width: 32%;
  }
}
body .middlepart .services {
  background-color: #FFF6EC;
  justify-content: space-around;
  padding: 1vw 10vw 0vw 10vw;
}
body .middlepart .services .servicehead {
  font-weight: 500;
  text-align: center;
  font-size: x-large;
}
body .middlepart .services .servicegroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
body .middlepart .services .servicegroup .servicetab {
  padding-bottom: 20px;
  text-align: center;
  width: 25%;
}
body .middlepart .services .servicegroup .servicetab .servImg {
  width: 100%;
  border-radius: 100%;
}
body .middlepart .services .servicegroup .servicetab .servicedesc {
  text-align: justify;
  margin-top: 0;
  font-size: large;
}
body .middlepart .services .servicegroup .servicetab .minihead {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .middlepart .services .servicegroup .servicetab .minihead .iconmini {
  width: 20px;
  height: 20px;
}
body .middlepart .services .servicegroup .servicetab .minihead .headserve {
  font-weight: 500;
  margin: 15px 0px 15px 10px;
}
@media (max-width: 700px) {
  body .middlepart .services {
    padding: 1vw 5vw 0vw 5vw;
  }
  body .middlepart .services .servicehead {
    font-size: large;
  }
  body .middlepart .services .servicegroup .servicetab {
    width: 40%;
  }
}
@media (max-width: 560px) {
  body .middlepart .services {
    padding: 1vw 2vw 0vw 2vw;
  }
  body .middlepart .services .servicehead {
    font-size: large;
  }
  body .middlepart .services .servicegroup .servicetab {
    width: 95%;
  }
  body .middlepart .services .servicegroup .servicetab .servicedesc {
    font-size: small;
  }
  body .middlepart .services .servicegroup .servicetab .minihead .iconmini {
    width: 18px;
    height: 18px;
  }
  body .middlepart .services .servicegroup .servicetab .minihead .headserve {
    font-size: 17px;
  }
}
body .middlepart .locdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .middlepart .locdetails .lochead {
  font-weight: 500;
  text-align: center;
}
body .middlepart .locdetails .mapdetails {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .middlepart .locdetails .mapdetails .mapouter {
  width: 50%;
  margin: 0% 0% 0% 0%;
}
body .middlepart .locdetails .mapdetails .mapdesc {
  width: 50%;
}
body .middlepart .locdetails .mapdetails .mapdesc h3 {
  font-family: "Poppins";
  font-size: medium;
  font-weight: 500;
  color: #490206;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform {
  display: flex;
  flex-direction: column;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent {
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 1px;
  height: 40px;
  width: 96%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::-moz-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent:-ms-input-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent {
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 1px;
  width: 96%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::-moz-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent:-ms-input-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .submitbutton {
  align-self: center;
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 0px;
  background-color: #490206;
  width: 35%;
  height: 30px;
  color: white;
}
@media (max-width: 700px) {
  body .middlepart .locdetails .lochead {
    font-size: large;
  }
  body .middlepart .locdetails .mapdetails {
    width: 100vw;
    flex-wrap: wrap;
  }
  body .middlepart .locdetails .mapdetails .mapdesc {
    width: 80%;
    margin-bottom: 20px;
  }
  body .middlepart .locdetails .mapdetails .mapdesc h3 {
    font-size: 13px;
  }
  body .middlepart .locdetails .mapdetails .mapouter {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */