body {
  margin: 0px;
  padding: 0px;
  background-image: url("../media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins";
}
body .middlepart {
  background-color: #FBFAF9;
}
body .middlepart .seemore {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
body .middlepart .about {
  background-color: #FBFAF9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .middlepart .about .abouthead {
  font-weight: 500;
  font-size: x-large;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0px;
  color: #490206;
}
body .middlepart .about .aboutdescription {
  text-align: justify;
  font-size: large;
  width: 60%;
}
body .middlepart .about .randimages {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
body .middlepart .about .randimages .galimg {
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px black;
}
body .middlepart .about .randimages div.galimg {
  background-color: #CF853C;
}
body .middlepart .services {
  background-color: #FFF6EC;
  justify-content: space-around;
  padding: 1vw 10vw 0vw 10vw;
}
body .middlepart .services .servicehead {
  font-weight: 500;
  text-align: center;
  font-size: x-large;
}
body .middlepart .services .servicegroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .middlepart .services .servicegroup .servicetab {
  padding-bottom: 20px;
  text-align: center;
  width: 29%;
}
body .middlepart .services .servicegroup .servicetab .servImg {
  width: 100%;
  border-radius: 100%;
}
body .middlepart .services .servicegroup .servicetab .servicedesc {
  text-align: justify;
  margin-top: 0;
  font-size: large;
}
body .middlepart .services .servicegroup .servicetab .minihead {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .middlepart .services .servicegroup .servicetab .minihead .iconmini {
  width: 20px;
  height: 20px;
}
body .middlepart .services .servicegroup .servicetab .minihead .headserve {
  font-weight: 500;
  margin: 15px 0px 15px 10px;
}
body .middlepart .locdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .middlepart .locdetails .lochead {
  font-weight: 500;
  text-align: center;
}
body .middlepart .locdetails .mapdetails {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body .middlepart .locdetails .mapdetails .mapouter {
  width: 50%;
  margin: 0% 0% 0% 0%;
}
body .middlepart .locdetails .mapdetails .mapdesc {
  width: 50%;
}
body .middlepart .locdetails .mapdetails .mapdesc h3 {
  font-family: "Poppins";
  font-size: medium;
  font-weight: 500;
  color: #490206;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform {
  display: flex;
  flex-direction: column;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent {
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 1px;
  height: 40px;
  width: 96%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::-moz-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent:-ms-input-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent {
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 1px;
  width: 96%;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::-moz-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent:-ms-input-placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::placeholder {
  font-family: "Poppins";
}
body .middlepart .locdetails .mapdetails .mapdesc .contactform .submitbutton {
  align-self: center;
  border-radius: 0px;
  border: rgb(153, 153, 153) solid 0px;
  background-color: #490206;
  width: 35%;
  height: 30px;
  color: white;
}

@media (max-width: 560px) {
  body {
    margin: 0px;
    padding: 0px;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins";
  }
  body .middlepart {
    background-color: #FBFAF9;
  }
  body .middlepart .seemore {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
  }
  body .middlepart .about {
    background-color: #FBFAF9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .middlepart .about .abouthead {
    font-weight: 500;
    font-size: x-large;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0px;
    color: #490206;
  }
  body .middlepart .about .aboutdescription {
    text-align: justify;
    font-size: large;
    width: 90%;
  }
  body .middlepart .about .randimages {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  body .middlepart .about .randimages .galimg {
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
  }
  body .middlepart .about .randimages div.galimg {
    background-color: #CF853C;
  }
  body .middlepart .services {
    background-color: #FFF6EC;
    justify-content: space-around;
    padding: 1vw 10vw 0vw 10vw;
  }
  body .middlepart .services .servicehead {
    font-weight: 500;
    text-align: center;
    font-size: x-large;
  }
  body .middlepart .services .servicegroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  body .middlepart .services .servicegroup .servicetab {
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  body .middlepart .services .servicegroup .servicetab .servImg {
    width: 100%;
    border-radius: 100%;
  }
  body .middlepart .services .servicegroup .servicetab .servicedesc {
    text-align: justify;
    margin-top: 0;
    font-size: large;
  }
  body .middlepart .services .servicegroup .servicetab .minihead {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .middlepart .services .servicegroup .servicetab .minihead .iconmini {
    width: 20px;
    height: 20px;
  }
  body .middlepart .services .servicegroup .servicetab .minihead .headserve {
    font-weight: 500;
    margin: 15px 0px 15px 10px;
  }
  body .middlepart .locdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .middlepart .locdetails .lochead {
    font-weight: 500;
    text-align: center;
  }
  body .middlepart .locdetails .mapdetails {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  body .middlepart .locdetails .mapdetails .mapouter {
    width: 100%;
    margin: 0% 0% 0% 0%;
  }
  body .middlepart .locdetails .mapdetails .mapdesc {
    width: 100%;
  }
  body .middlepart .locdetails .mapdetails .mapdesc h3 {
    font-family: "Poppins";
    font-size: medium;
    font-weight: 500;
    color: #490206;
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform {
    display: flex;
    flex-direction: column;
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent {
    border-radius: 0px;
    border: rgb(153, 153, 153) solid 1px;
    height: 40px;
    width: 96%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::-moz-placeholder {
    font-family: "Poppins";
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent:-ms-input-placeholder {
    font-family: "Poppins";
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform .formcomponent::placeholder {
    font-family: "Poppins";
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent {
    border-radius: 0px;
    border: rgb(153, 153, 153) solid 1px;
    width: 96%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::-moz-placeholder {
    font-family: "Poppins";
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent:-ms-input-placeholder {
    font-family: "Poppins";
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform #formcomponent::placeholder {
    font-family: "Poppins";
  }
  body .middlepart .locdetails .mapdetails .mapdesc .contactform .submitbutton {
    align-self: center;
    border-radius: 0px;
    border: rgb(153, 153, 153) solid 0px;
    background-color: #490206;
    width: 35%;
    height: 30px;
    color: white;
  }
}