$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;

$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;

//phone sizes
$headpc:x-large;
$textpc:large;

$headtab:larger;
$texttab:large;

$headphone:large;
$textphone:small;

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;
    overflow-x: hidden;

    .space{
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000af;
        
        .placedesc{
            color: white;
            width: fit-content;
            font-size: 40px;
            font-family: "black jack";
            text-transform:capitalize;
        }
        .viewicons{
            
            height: fit-content;
            width: 20vw;
            display: flex;
            justify-content: space-around;
            
            img{
                width: 50px;
                height: 50px;
            }
        } 
    }
    .pagecontent{
        .services{
            background-color: #FFF6EC;
            justify-content: space-around;
            
            .servicehead{
                font-weight: $headingweight;
                text-align: center;
                font-size: $headpc;
            }
            .servicegroup{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
                .servicetab{
                    padding-bottom: 20px;
                    text-align: center;
                    width: 29%;
                    .servImg{
                        width: 100%;
                        border-radius: 100%;
                    }
                    .servicedesc{
                        text-align: justify;
                        margin-top: 0;
                        font-size: $textpc;
                    }
                    .minihead{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       
                        .iconmini{
                            width: 20px;
                            height: 20px;
                        }
                        .headserve{
                            font-weight: 500;
                            margin: 15px 0px 15px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:560px){
    body{
        .space{
            height: 40vh;
            display: flex;
            padding-top: 12vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000af;
            
            .placedesc{
                color: white;
                width: fit-content;
                font-size: 30px;
                
            }
            .viewicons{
                height: fit-content;
                width: 20vw;
                display: flex;
                justify-content: space-around;
                
                img{
                    width: 30px;
                    height: 30px;
                }
            } 
        }
        .pagecontent{
            .services{
                .servicehead{
                    font-weight: $headingweight;
                    text-align: center;
                    font-size: $headpc;
                }
                .servicegroup{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .servicetab{
                        padding-bottom: 20px;
                        text-align: center;
                        width: 95%;
                        .servImg{
                            width: 100%;
                            border-radius: 100%;
                        }
                        .servicedesc{
                            text-align: justify;
                            margin-top: 0;
                            font-size: $textpc;
                        }
                        .minihead{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                           
                            .iconmini{
                                width: 20px;
                                height: 20px;
                            }
                            .headserve{
                                font-weight: 500;
                                margin: 15px 0px 15px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}