$generalstyle:'Poppins';
$headingweight:500;
$heading1weight:400;

$colorbackground:#FBFAF9;
$colorblack:#000000;
$colormaroon:#490206;

//phone sizes
$headpc:x-large;
$textpc:large;

$headtab:larger;
$texttab:large;

$headphone:large;
$textphone:small;

body{
    margin: 0px;
    padding: 0px;
    background-image: url('../media/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $generalstyle;
    overflow-x: hidden;

    
    .pagecontent{
        background-color: #FFF6EC;
        display: flex;
        justify-content: center;
        .services{
            padding-top: 10px;
            background-color: #FFF6EC;
            justify-content: space-around;
            width: 80%;
            
            .servicehead{
                font-weight: $headingweight;
                text-align: center;
                font-size: $headpc;
                margin-top: 0;
            }
            .servicegroup{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .servicetab{
                    padding-bottom: 20px;
                    text-align: center;
                    width: 29%;
                    .servImg{
                        width: 100%;
                        border-radius: 100%;
                    }
                    .servicedesc{
                        text-align: justify;
                        margin-top: 0;
                        font-size: $textpc;
                    }
                    .minihead{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       
                        .iconmini{
                            width: 20px;
                            height: 20px;
                        }
                        .headserve{
                            font-weight: 500;
                            margin: 15px 0px 15px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:560px){
    body{
        
        .pagecontent{
            .services{
                width: 95%;
                padding: 1vw 5vw 0vw 5vw;
                .servicehead{
                    font-weight: $headingweight;
                    text-align: center;
                    font-size: $headpc;
                }
                .servicegroup{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .servicetab{
                        padding-bottom: 20px;
                        text-align: center;
                        width: 95%;
                        .servImg{
                            width: 100%;
                            border-radius: 100%;
                        }
                        .servicedesc{
                            border: red 2px solid;
                            text-align: justify;
                            margin-top: 0;
                            font-size: $textpc;
                        }
                        .minihead{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                           
                            .iconmini{
                                width: 20px;
                                height: 20px;
                            }
                            .headserve{
                                font-weight: 500;
                                margin: 15px 0px 15px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}